@import "tailwindcss";

body {
  margin: 0;
  background: #f5f7fb;
  color: #111827;
  transition: font-family 0.3s ease;
}

body.english-font {
  font-family: "Inter", sans-serif;
}

body.hindi-font {
  font-family: "Noto Sans Devanagari", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}